<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="./css/style.css">
     <link rel="icon" href="./img/weather.png"/>
    <title>About Page</title>
</head>
<body>
    <div class="main-content">
         {{>header}}
         <p>Hello this is about page</p>
    <img class="portrait" src="./img/Penguins.jpg" />
    </div>
    
     {{>footer}}
</body>
</html>